doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content='Personalized dashboards for Chess.com users to analyze chess strengths and weaknesses, including opening statistics, rating trends, and more.')

        link(rel="icon" href='/img/general/logo-64x64.png')

        link(rel='stylesheet' href="/css/general.css")
        link(rel='stylesheet' href="/css/style.css")

        script(type='module' defer src='/bundle_index.js')

        block scripts
        if (title)
            title Board & Pieces | #{title}
        else
            title Board & Pieces
    
    body
        // Header
        include _header
        
        // Content
        block content

        // Footer
        include _footer