/* //////////////////////////////////// */
/* HEADER & NAVIGATION */
/* //////////////////////////////////// */

.header {
  background-color: #000;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav-list {
  display: flex;
  gap: 6.4rem;

  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #ddd;
  font-size: 1.6rem;
  text-decoration: none;
  transition: color 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c92a2a;
}

/* //////////////////////////////////// */
/* HERO SECTION */
/* //////////////////////////////////// */

.section-hero {
  justify-items: center;

  height: 100vh;
  padding-top: 6.4rem;

  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(51, 51, 51, 0.85)),
    url("../images/original/hero-board.png");
  background-size: cover;
  background-position: top;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
  gap: 6.4rem;
  grid-column: 1 / -1;
}

.cta {
  width: 100%;
}

.cta .step {
  grid-column: 1;
  grid-row: 1;
}

/* //////////////////////////////////// */
/* Opening Statistics */
/* //////////////////////////////////// */

.canvas--opening-stats {
  width: 100rem;
  height: 40rem;
}

.canvas--opening-stats .graph {
  margin: 5.2rem 3.2rem 1rem 20rem;
  padding: 0.02rem; /* 0.00 through 0.10 */
}

.canvas--opening-stats .bar:hover {
  stroke: #333;
  stroke-width: 2px;
}

/* //////////////////////////////////// */
/* Rating Trends */
/* //////////////////////////////////// */

.canvas--rating-trends {
  width: 100rem;
  height: 40rem;
}

.canvas--rating-trends .graph {
  margin: 4rem 4rem 5.6rem 8rem;
  padding: 0.02rem; /* 0.00 through 0.10 */
}

.canvas--rating-trends .path {
  fill: none;
  stroke-width: 2;
}

.canvas--rating-trends .dotted-line {
  stroke: #bbb;
  stroke-width: 1;
  stroke-dasharray: 5;
}

/* //////////////////////////////////// */
/* Rating Trends */
/* //////////////////////////////////// */

.canvas--duration-stats {
  width: 100rem;
  height: 40rem;
}

.canvas--duration-stats .graph {
  margin: 4rem 4rem 5.6rem 8rem;
  padding: 0.02rem; /* 0.00 through 0.10 */
}
